%h1 Awesome Print Online

= form_tag '/texts' do
  .text-before
    %textarea{ name: :text }= @text
  .submit
    = submit_tag
  .text-after
    -# TODO Maybe dangerous??
    = eval(@text).ai(html: true, color: { method: :green, string: :red, time: :cyanish, fixnum: :cyan, float: :cyan }) if @text.present?
