%h1 Awesome Print Online

= form_tag '/texts' do
  .text-before
    %textarea{ name: :text }= @text
  .submit
    = submit_tag
  .text-after
    -# TODO Maybe dangerous??
    .well= eval(@text).ai(html: true) if @text.present?
